<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FlatMateNew</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="assets/alertifyjs/alertify.min.js "></script>
    <link rel="stylesheet" href="assets/alertifyjs/css/alertify.min.css" />
    <link rel="stylesheet" href="assets/alertifyjs/css/themes/default.min.css" />

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-sanitize.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function ($scope, $http, $location) {
            $scope.Name = 'Rishi'; $scope.Mobile = '988776687'; $scope.Address = 'Address'; $scope.City = 'Lucknow'; $scope.Contribution = 98; $scope.Capacity = 0;
            $scope.Gender = 'F'; $scope.SelectedCity = 'Delhi';
            $scope.Cities = ['Delhi', 'Mumbai', 'Chennai', 'NCR', 'Kolkata', 'Lucknow', 'Kanpur'];
            $scope.Hobbies = ['Studious', 'NightOwl', 'MusicLover', 'PetOwner', 'Smoking', 'Sporty', 'Alchoholic', 'PartyAnimal', 'Religious', 'EarlyBird', 'FitnessFreak', 'Wanderer', 'Vegan'];
            $scope.Ads = $scope.Users = [];
            $scope.UID = "1"; $scope.IsOwner = false;
            $scope.EditMode = false;
            $scope.ChangeMode = function (State) { $scope.EditMode = State; }
            $scope.ActiveProfileStatus = false;
            $scope.MaritalStatus = "Married";
            $scope.DOB = null;
            $scope.ProfileImageURL = null;
            $scope.Occupation = 'Student';
            $scope.ToggleProfile = function () {
                
                var Mode = 'Active'; 
                if (!$scope.ActiveProfileStatus) { Mode = 'Disable'; }
                //alert("assets/api/ToggleActivation.php?Mode=" + Mode);
               
                $http.get("assets/api/ToggleActivation.php?Mode=" + Mode).then(function (response) {
                    alertify.success("Info Updated.");
                    $scope.User.Status = Mode;
                    
                    });
            }

            $scope.SelectedHobbies = [];

            $scope.Load=function()
            {



                
                if (localStorage.getItem("User") == null) { location.assign('Login.html'); }
                $scope.User = angular.fromJson(localStorage.getItem("User"));
                console.log($scope.User);

                $scope.Name = $scope.User.UserName;
                $scope.City = $scope.User.City;
                $scope.Address = $scope.User.Address;
                $scope.Contribution = $scope.User.Contribution;
                $scope.Mobile = $scope.User.Mobile;
                $scope.UID = $scope.User.UID;
                $scope.MaritialStatus = $scope.User.MaritialStatus;
                $scope.DOB = $scope.User.DOB;
                $scope.ProfileImageURL = 'assets/img/users/' + $scope.User.UID + '.jpg';
                $scope.ActiveProfileStatus = $scope.User.Status == "Active";
                console.log($scope.User.Hobbies);
                if ($scope.User.Hobbies !=null && $scope.User.Hobbies.length>0) $scope.SelectedHobbies = $scope.User.Hobbies.split(',');
                $scope.IsOwner = true;
                return;




             
            }
            $scope.Load();

            
            
           
            $http.get("assets/api/GetAds.php").then(function (response) { $scope.Ads = response.data; });

            $scope.Save = function () {

                //alert($scope.SelectedCity);
                $http.get("assets/api/UserApi.php?UID=" + $scope.UID + "&Name=" + $scope.Name + "&City=" + $scope.SelectedCity + "&Address=" + $scope.Address+ "&MaritialStatus=" + $scope.MaritialStatus + "&Mobile=" + $scope.Mobile + "&Contribution=" + $scope.Contribution + "&Hobbies=" + $scope.SelectedHobbies.join(",")).then(function (response) {
                    
                    
                    alertify.success("Information Updated");
                    $scope.EditMode = false;
                    $scope.User.Hobbies = $scope.SelectedHobbies.join(',');
                    localStorage.setItem("User", angular.toJson( $scope.User));
                    $scope.Load();
                });
            }
            $scope.Delete = function (AID, Index) {
                alertify.confirm('Confirm Operation !!!', 'Are you Sure want to delete ? ', function () {
                    $http.get("assets/api/DeleteAd.php?Delete=" + AID).then(function (response) {
                        if (response.data.Status == 'Success') {
                            $scope.Ads.splice(Index, 1);
                            alertify.error("Ad Deleted Successfully");

                        }
                    });
                }, function () { });
            }
            $scope.SetGender = function (Gender) {  $scope.Gender = Gender; }
            $scope.SelectHobby = function (Hobby) {

                if (!$scope.SelectedHobbies.includes(Hobby)) {
                    $scope.SelectedHobbies.push(Hobby);
                } else {
                    $scope.SelectedHobbies.splice($scope.SelectedHobbies.indexOf(Hobby), 1);
                }
                
            }




            $scope.uploadFile = function (files) {
                ///console.log(files);
                var fd = new FormData();
                //Take the first selected file

                //$scope.ImageURL = "/upload/" + files[0].name;
                //console.log($scope.ImageURL);
                //console.log($scope.User.UID);
                fd.append("sendimage", files[0]);
                fd.append("UID", $scope.User.UID);
                console.log(fd);
                
                uploadUrl =
                    $http.post("UploadProfileImage.php", fd, {
                        withCredentials: true,
                        headers: { 'Content-Type': undefined },
                        enctype: 'multipart/form-data',
                        transformRequest: angular.identity
                    }).then(function () {
                        $scope.ProfileImageURL = $scope.ProfileImageURL +"?"+ new Date().getTime();
                        alertify.success("Image uploaded");
                    });

                $scope.SetErrorProfileImage = function () {
                     $scope.ProfileImageURL = 'assets/img/avatar_2x.png';
                }

            }

        });

        function Load() {
            $('#Body').attr('hidden', false);
            $('#Body').fadeIn('fast', 'swing', function () { });
        }
        function Transition(Page) {

            location.assign(Page);

        }

    </script>
</head>

<body ng-app="myApp" onload="Load()" ng-controller="customersCtrl" id="Body" style="font-size: 14px;">
    <div ng-include src="'menu.php'"></div>
    <div class="container" style="margin-top: 20px;" ng-show="!EditMode">
        <div class="card">
            <div class="card-header d-flex">
                <h5 class="text-primary d-xl-flex flex-fill justify-content-xl-start align-items-xl-center mb-0">User Profile</h5>
                <div  ng-show="IsOwner"   class="custom-control custom-switch" style="margin-right: 45px;">
                <input ng-model="ActiveProfileStatus"  ng-change="ToggleProfile()" type="checkbox" class="custom-control-input" id="formCheck-1" />
                <label class="custom-control-label" for="formCheck-1">Active / Disable </label>
                </div>
                <a ng-show="IsOwner"  class="btn btn-primary btn-sm" role="button" data-toggle="modal" ng-click="ChangeMode(true);">Edit Details</a>
                    
               
            </div>
            <div class="card-body">
                <div class="media">
                    <img class="mr-3" ng-src="{{ProfileImageURL}}" onerror="SetErrorProfileImage()"  style="max-height:200px;">
                    <div class="media-body">
                        <h5>{{User.UserName}}</h5>
                        <p><i class="fa fa-home"></i>&nbsp;{{User.Address}}</p>
                        <p><i class="fa fa-envelope-o"></i><strong>&nbsp;</strong>{{User.Email}}</p>
                        <p><i class="fa fa-phone"></i>&nbsp;+91-{{User.Mobile}}</p>
                        <p><i class="fa fa-heart"></i>&nbsp;{{User.MaritialStatus}}</p>

                        <p><i class="fa fa-rupee"></i>&nbsp;{{User.Contribution}} /-</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Hobbis Listed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <!--<td>{ {Hobby}}</td>-->
                                    <td class="d-xl-flex flex-wrap align-items-xl-center">
                                    <h4 ng-repeat="Hobby in User.Hobbies.split(',')" class="text-white bg-danger" style="padding: 10px;border-radius: 23px;margin: 9px;"><i class="fa fa-check"></i> {{Hobby}}</h4>
   
                                    </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-show="EditMode">
        <div class="row">
            <div class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-3">
                <div class="card">
                    <div class="card-header d-flex">
                        <h5 class="text-primary d-xl-flex flex-fill justify-content-xl-start align-items-xl-center mb-0">Edit Profile</h5><button ng-click="ChangeMode(false);" class="btn btn-primary" type="button">Cancel</button>
                        <div>
                            
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group"><img ng-src="{{ProfileImageURL}}" style="max-height:200px;" /></div>
                            <br />
                            <div class="form-group"><label>Profile Image </label>
                            <input type="file" name="sendimage" onchange="angular.element(this).scope().uploadFile(this.files)" />
                            </div>

                            <div class="form-group"><label>City</label><select ng-model="SelectedCity" class="form-control"><option ng-repeat="City in Cities">{{City}}</option></select></div>
                            
                            <div class="form-group"><label>Name</label><input ng-model="Name" class="form-control" type="text"></div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label>Mobile</label><input ng-model="Mobile" class="form-control" type="text"></div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <p style="margin-bottom: -9px;">Gender</p>
                                        </div>
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary">Male<input ng-click="SetGender('M')" ng-checked="Gender=='M'" type="radio" name="Gender" value="M"></label>
                                        <label class="btn btn-secondary">Female<input ng-click="SetGender('F')" ng-checked="Gender=='F'" type="radio" name="Gender" value="F"></label></div>
                                    </div>
                                </div>
                            </div>
                             <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label>Maritial Status</label>
                            
                                    <select ng-model="MaritialStatus" class="form-control"><option>Single</option><option>Married</option></select></div>
                                    </div>
                                 <div class="col">
                                        <div class="form-group"><label>Occupation</label>
                            
                                    <select ng-model="Occupation" class="form-control"><option ng-repeat="x in ['Student','Working']">{{x}}</option></select></div>
                                    </div>
                             </div>
                                    
                            <div class="form-group"><label>Address for reallocation&nbsp; [ Area - Pincode ]</label><textarea ng-model="Address" class="form-control"></textarea></div>
                            <div class="form-group"><label>Contribution</label><input class="form-control" type="number" min="100" value="0" name="Contribution" ng-model="Contribution"></div>
                        </form>
                        <div class="row">
                            <div class="col">
                                <label>Select Hobbies - <b>{{SelectedHobbies.length}}</b></label>
                                <ul class="list-group" style="cursor:pointer;" >
                                    <li ng-repeat="Hobby in Hobbies" ng-class="SelectedHobbies.includes(Hobby)?'bg-info text-white':''" ng-click="SelectHobby(Hobby)" class="list-group-item" ><span>{{Hobby}}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col text-right"><button class="btn btn-primary" ng-click="Save();" type="button">Save</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>